body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.section-spacer {
    margin-top: 140px;
}

.top-banner {
    position: relative;
}

.top-banner img {
    width: 100%;
    height: 690px;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 140px;
    left: 200px;
    font-size: 35px;
    color: aliceblue;
    margin-right: 700px;
}

.banner-text p {
    font-size: 24px;
}

.button {
    text-decoration: none;
    font-size: 24px;
    color: aliceblue;
    background-color: crimson;
    padding: 14px;
    border-radius: 10px;
}

.text {
    margin-left: 200px;
    font-size: 35px;
    margin-right: 150px;
}

.text p {
    font-size: 20px;
}

.section-1 {
    display: flex;
}

.section-1 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 200px;
    margin-top: 80px;
    border-radius: 10px;
}

.section-2 {
    display: flex;
}

.section-2 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 10px;
}

.centered-text {
    text-align: center;
    font-size: 40px;
    margin: 0 25%;
}

.centered-text p {
    font-size: 20px;
}

.help-zone {
    margin: 0 250px 140px;
    display: flex;
}

.help {
    background-image: linear-gradient(#f8edeb, #fae1dd);
    display: flex;
    padding: 35px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 7px;
}

.help-zone-text {
    margin-left: 20px;
}

.section-4 {
    display: flex;
    margin: 0 150px;
}
.section-4 img{
    width: 350px ;
    height: 380px;
    object-fit: cover;
    margin: 0 20px;
    border-radius: 10px;
}
.funds{
    display: flex;
    margin: 0px 140px 140px;
}
.fund-type{
    /* border: 1px solid grey; */
    border-left: 1px solid rgb(206, 203, 203);
    border-right: 1px solid rgb(206, 203, 203);
    border-bottom: 1px solid rgb(206, 203, 203);
    margin: 10px;
    border-radius: 10px;
}

.funds img{
    width: 340px ;
    height: 190px;
    object-fit: none;
    border-radius: 10px 10px 0px 0px;
}
.funds-text{
    margin-right: 20%;
    padding: 20px;
}
.donate-link{
    font-size: 20px;
    color:  crimson;
    font-weight: 600;
}
.footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 120px;
    padding-top: 30px;
}